/**
 * Loader
 */

#loader {
    background: #fff url(../images/loading.html) center center no-repeat;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/**
 * Masthead
 */

.masthead-normal {
    display: none;
}

.masthead-mobile {
    display: block;
}

@media (min-width: 992px) {
    .masthead-normal {
        display: block;
    }

    .masthead-mobile {
        display: none;
    }
}

#masthead .brand {
	width: 250px;
}


#masthead.active .masthead-normal {
    padding: 5px 0;
}

#masthead.active .brand {
    width: 200px;
    margin-left: 0;
}

#masthead .navbar-nav,
#masthead .loja-virtual,
#masthead .btn-orcamento {
	/* [disabled]margin-bottom: 0; */
	margin-left: 0;
	/* [disabled]margin-right: 40px; */
	/* [disabled]margin-top: 0; */
}

#masthead .masthead-normal .nav {
	/* [disabled]margin-left: 40px; */
}

#masthead .masthead-normal .nav li {
    margin-right: 15px;
}

@media (min-width: 1200px) {
    #masthead .masthead-normal .nav li {
        margin-right: 30px;
    }
}

#masthead .masthead-normal .btn-orcamento {
    display: inline-block;
}

#masthead .masthead-normal .nav a {
    padding: 4px 0;
}

#masthead .navbar-header {
    /* min-height: auto; */
}

@media (min-width: 992px) {
    #masthead .d-flex ~ .d-flex {
        border-top: 1px solid #a7a8a6;
        padding-top: 20px;
        margin-top: 20px;
    }
}

#masthead .loja-virtual a {
    color: #ee7025;
}

/* #main-content { */
/*     margin-top: 140px; */
/* } */

#main-footer .social-medias img {
    margin-right: 120px;
}



#contato #links .btn {
    min-height: 90px;
    padding: 15px;
    display: block;
    font-size: 16px;
    text-align: left;
    white-space: normal;
}

@media (min-width: 1200px) {
    #contato #links .btn {
        padding: 20px;
    }
}

#contato #links .btn img {
    margin-right: 15px;
}

.top-links {
	margin-top: 0;




	
}.top-links1 {
	border-bottom-style: solid;
	border-bottom-width: thin;
	min-height: 20px;
	min-width: 800px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;




	
}


.bottom-links {
	


	
}


#top-links .misc a {
    border-right: 1px solid #a7a8a6;
    display: inline-block;
    color: #065c70;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 10px;
    padding-right: 10px;
}

#top-links .misc a:active,
#top-links .misc a:focus,
#top-links .misc a:hover {
    color: #ee7025;
    text-decoration: none;
}




#top-links .lang {
    padding-left: 120px;
}

#masthead.active .nav,
#masthead.active .loja-virtual,
#masthead.active .btn-orcamento {
    margin-top: 0;
}

/**
 * Mobile masthead
 */

#masthead {
    padding: 0;
}

@media (min-width: 992px) {
    #masthead {
        padding-top: 20px;
    }
}

.masthead-mobile {
    padding: 15px 0 0;
}

#masthead .masthead-mobile .nav {
    margin-bottom: 15px;
}

.masthead-mobile .d-flex {
    margin-bottom: 15px;
}

.masthead-mobile .social img {
    opacity: 0.5;
}

.masthead-mobile .tel {
    font-size: 14px;
    color: #ee7025;
}

.masthead-mobile .btn-orcamento {
    font-size: 12px;
}

.masthead-mobile .navbar-toggle {
    float: none;
    margin: 0 15px 0 0;
}

#masthead .masthead-mobile .btn-orcamento {
    display: inline-block;
    float: none;
    margin: 0;
}

.cabeca {
	float: left;
}
	.social-medias{
	float: left;
	margin-left: 260px;
	display: inline;
	margin-right: 290px;
	max-height: 50%;
}
 .tel{
	float:left;
	
}


.masthead-mobile-separator {
    height: 1px;
    margin: 0 -15px 15px;
    background: #cacbca;
}

/**
 * WhatsApp
 */

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 60px;
    z-index: 1000;
}

@media (max-width: 767px) {
    .whatsapp {
        bottom: 15px;
        right: 15px;
    }

    .whatsapp img {
        width: 50px;
    }
}

/**
 * Headings
 */

@media (max-width: 991px) {
    .heading h1 {
        font-size: 30px;
    }
}

/**
 * Home
 */

@media (max-width: 991px) {
    .home-slider .flex-nav-prev,
    .home-slider .flex-nav-next {
        display: none;
    }
}

#home-prods { }

@media (max-width: 991px) {
    #home-prods .row {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

#home-prods .prod {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 15px;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#home-prods .prod:active,
#home-prods .prod:focus,
#home-prods .prod:hover {
    text-decoration: none;
}

#home-prods .ic {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 10px;
    background-size: cover;
}

@media (min-width: 992px) {
    #home-prods .prod {
        width: 12.5%;
        margin-bottom: 0;
        margin-left: 0;
        display: block;
    }

    #home-prods .ic {
        width: 101px;
        height: 101px;
        margin: 0 auto 15px;
        background-size: auto;
    }
}

#home-prods .ic:hover {
    background-position: 0 -101px;
}

.ic-esgoto       { background-image: url(../images/ic-esgoto.png);       }
.ic-efluentes    { background-image: url(../images/ic-efluentes.png);    }
.ic-agua         { background-image: url(../images/ic-agua.png);         }
.ic-filtracao    { background-image: url(../images/ic-filtracao.png);    }
.ic-tanques      { background-image: url(../images/ic-tanques.png);      }
.ic-separadores  { background-image: url(../images/ic-separadores.png);  }
.ic-equipamentos { background-image: url(../images/ic-equipamentos.png); }
.ic-aluguel      { background-image: url(../images/ic-aluguel.png);      }

.ayylmao {
    height: 749px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .ayylmao {
        height: 768px;
    }
}

@media (max-width: 991px) {
    #grupo-alphenz .selos img {
        width: 80px;
    }
}

#grupo-alphenz {
    background-size: cover;
    padding-bottom: 50px;
}

/**
 * Footer
 */

@media (max-width: 992px) {
    #main-footer .financiamentos,
    #main-footer .selos {
        float: none;
    }

    #main-footer .selos span {
        display: block;
        margin-bottom: 15px;
    }

    #main-footer .selos img {
        margin: 0 !important;
    }

    #main-footer hr {
        margin: 15px 0;
    }
}

/**
 * Produtos
 */


.ico-8 {
    background-image: url(../images/ico-aluguel-de-estacoes.png);
}

#produto #veja-tambem .video a {
    margin-right: auto;
    margin-left: auto;
}

/**
 * Bootstrap media object
 */

.media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
.media,
.media-body {
    overflow: hidden;
    zoom: 1;
}
.media-body {
    width: 10000px;
}
.media-object {
    display: block;
}
.media-object.img-thumbnail {
    max-width: none;
}
.media-right,
.media > .pull-right {
    padding-left: 10px;
}
.media-left,
.media > .pull-left {
    padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}
.media-middle {
    vertical-align: middle;
}
.media-bottom {
    vertical-align: bottom;
}
.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.media-list {
    padding-left: 0;
    list-style: none;
}

/**
 * Flex utils
 */

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
      flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
      flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
      flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
      flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
      justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
      justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
      justify-content: center !important;
}

.justify-content-between {
	-ms-flex-pack: center !important;
	justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
      align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
      align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
      align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
      align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
      align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
      align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
      align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
      align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
      align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
      align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
      align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
      align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
      align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
      align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
      align-self: stretch !important;
}

/**
 * Progress bars
 */

.progress {
  height: 40px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  font-weight: bold;
  float: left;
  width: 0;
  height: 100%;
  /* font-size: 12px; */
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}

.progress-bar-25  { background-color: #ed1c24; }
.progress-bar-50  { background-color: #ed831c; }
.progress-bar-75  { background-color: #ffc028; }
.progress-bar-100 { background-color: #55b143; }

/**
 * Panels
 */

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}

.panel-projetos li,
.panel-manuais li {
    margin-bottom: 5px;
}











@media (min-width: 992px) {
    #cliente-regioes {
        display: block;
        height: 580px;
    }
}

.intro #cliente-regioes .container .brasil {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .brasil {
        width: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .brasil {
        position: absolute;
        top: 126px;
        left: 130px;
    }
}

@media (min-width: 1200px) {
    .intro #cliente-regioes .container .brasil {
        top: 84px;
        left: 200px;
    }
}

.intro #cliente-regioes .container .america_sul {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .america_sul {
        width: 150px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .america_sul {
        position: absolute;
        top: 328px;
        left: 0;
    }
}

@media (min-width: 1200px) {
    .intro #cliente-regioes .container .america_sul {
        top: 328px;
        left: 90px;
    }
}

.intro #cliente-regioes .container .honduras {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .honduras {
        width: 150px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .honduras {
        position: absolute;
    }
}

.intro #cliente-regioes .container .r-dominicana {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .r-dominicana {
        width: auto;
        height: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .r-dominicana {
        position: absolute;
    }
}

.intro #cliente-regioes .container .europa {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .europa {
        width: auto;
        height: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .europa {
        position: absolute;
    }
}

.intro #cliente-regioes .container .africa {
    position: static;
}

@media (max-width: 991px) {
    .intro #cliente-regioes .container .africa {
        width: auto;
        height: auto;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .africa {
        position: absolute;
    }
}

@media (min-width: 992px) {
    .intro #cliente-regioes .container .africa {
        top: 245px;
        right: 0;
        position: absolute;
    }
}

@media (min-width: 1200px) {
    .intro #cliente-regioes .container .africa {
        top: 245px;
        right: 100px;
    }
}

@media (max-width: 991px) {
    #Isolation_Mode, #svg-map {
        max-width: 260px;
        height: auto;
    }
}

/* .slick-slide { */
/*     max-width: 100% !important; */
/*     width: auto !important; */
/* } */

.popup-slide {
    width: auto !important;
    max-width: 1140px;
}

@media (max-width: 767px) {
    .slick-prev {
        left: 0 !important;
    }

    .slick-next {
        right: 0 !important;
    }
}

.text-orange {
    color: #ee7025 !important;
}

@media (min-width: 992px) {
    .visible-desktop {
        display: block;
    }
}
@media (max-width: 991px) {
    .visible-desktop {
        display: none;
    }
}

@media (min-width: 992px) {
    .visible-mobile {
        display: none;
    }
}
@media (max-width: 991px) {
    .visible-mobile {
        display: block;
    }
}
